.container {
  display: flex;
  flex-direction: column;

  width: 94%;
  max-width: 880px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.fancy-text {
  font-family: "Adelle", "Georgia", "Times New Roman", serif;
}

.noselection input::selection {
  background-color: rgba(0,0,0,.1);
}
